
.navbar {
    width: 80%;
    margin: 0 auto;
    background-color: #1e1e2f;
    overflow: auto;
    /* box-shadow: 5px 5px 5px rgb(117, 117, 163); */
}

.leftbar {
    float: left;
    overflow: auto;
}

.rightbar {
    float: right;
    overflow: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
}

a.left {
    float: left;
}

a.right {
    float: right;
    padding: 30px 15px;
}

a.logo {
    padding: 20px;
}

.navbar b {
    font-size: 33px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
    padding: 25px 15px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
}

table input {
    /* font-size: 1.2em; */
    border: 0;
    height: 30px;
    width: 35%;
    border-radius: 7px;
}

tr, td, th {
    border: 1px solid;
    height: 40px;
    padding: 5px;
}

table a {
    text-decoration: none;
    color: black;
}

.tablesection {
    margin: 0 0 20px 0;
    overflow-x: auto;
}

.progress1, .progress2 {
    background-color: rgb(191, 191, 191);
    margin-top: 5px;
}

.progress1 .progress-bar {
    height: 5px;
    border-radius: 2px;
    background-color: green;
}

.progress2 .progress-bar {
    height: 5px;
    border-radius: 2px;
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.pagination input {
    border: 0;
    height: 20px;
    border-radius: 4px;
}

.leftpagebar {
    margin-right: 30px;
}

select {
    padding: 2px;
}

.content {
    min-height: calc(100vh - 200px);
    margin: 100px 0 0 0;
}

.footer {
    width: 80%;
    margin: 0 auto;
    background-color: #1e1e2f;
    padding: 10px 0;
}

.footer p {
    text-align: center;
    color: white;
}

@media screen and (max-width: 1030px) {
    /* html {
        font-size: 13px;
    } */

    table {
        width: 100%;
        margin: 0 auto;
    }

    tr, td, th {
        padding: 0px;
    }

    .navbar {
        width: 100%;
    }

    .footer {
        width: 100%;
        margin: 33px 0 0 0;
    }
}

@media screen and (max-width: 550px) {
    /* html {
        font-size: 11px;
    } */

    .leftbar, .rightbar {
        float: none;
        display: block;
    }

    a.right {
        float: left;
    }
    
    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .leftpagebar {
        margin-bottom: 5px;
    }
}
